.hotel-payment-page-content{
    margin-top: 20px;
}

.check-and-pay{
    font-size: 30px;
}

.hotel-final-details{
    border: 1px solid grey;
    border-radius: 8px;
    width: 80%;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.guest-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
