.hotel-payment-modal{
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

.hotel-payment-box{
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.hotel-payment-content{
  /* border: 2px solid blue; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotel-final-details{
    /* border: 1px solid grey; */
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.guest-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.x-button{
    position: absolute;
    z-index: 5;
    top: -12px;
    right: -9px;
    font-size: 18px;
    padding: 2px 8px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);;
    border: none;
    cursor: pointer;
    
}

.x-button:hover{
     background-color: rgba(0, 0, 0, 0.5);
}

.atm-img-container{
    display: flex;
    gap: 8px;
}

.atm-img-container > img{
    width: 30px;
    height: 18px;
}

.hotel-payment-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hotel-payment-form>div{
   display: flex;
   flex-direction: column;
}

.hotel-payment-form input{
    height: 30px;
    padding: 0px 4px;
    border-radius: 4px;
    border: 1px solid grey;
}

.hotel-payment-form>section{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.hotel-payment-form>section>div{
    display: flex;
    flex-direction: column;
}

.blue-btn{
  background-color: #006CE4;
  border: none;
  color: white;
  height: 44px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.blue-btn:hover{
    background-color: #003580;
}