*{
  margin: 0;
  padding: 0;
}
.parent-container{
  /* border: 2px solid red; */
  display: flex;
  height: auto;
  justify-content: center;
}

.child-container{
  width: 100%;
  max-width: 1024px;
  padding: 0px 6px;
}

.static-content{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.box-shadow{
  box-shadow: 0px 1px 7px -1px #888888;

}