.my-trip-container{
    /* border: 2px solid black; */
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading-mytrips{
    margin-bottom: 20px;
    text-align: center;
    
}

.my-trips-card{
    /* border: 1px solid grey; */
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 1px 7px -1px #888888;
    border-radius: 8px;
}

.booking-type-date{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}