.coming-soon-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-img{
    /* border:  2px solid black; */
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}