.flight-search-bar{
    background-color: #febb02;
    border-radius: 4px;
    height: auto;
    padding: 4px;

}

.flight-searchBar-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 3.2fr 0.3fr 3.2fr 0.8fr 1fr;
    gap: 4px;
   
}


.flight-searchItem{
    background-color: white;
    height: 44px;
    padding: 0px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    
}

.flight-departure-input-div{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    position: relative;
}

.flight-input-bar{
    height: 28px;
    border: none;
    width: 100%;
    padding: 0px 4px;
}

.suggestion-modal{
    border: 1px solid red;
    position: absolute;
    top: 40px;
    left: 26px;
    background-color: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
   
}

.suggestion-para{
    cursor: pointer;
    border-bottom: 1px solid grey;
    padding: 4px;
}

.suggestion-para:hover{
    background-color: rgb(245, 245, 255);
}

.flight-xmark{
    cursor: pointer;
    font-size: 20px;
}

.swap-flight-box{
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.flight-exchange-div{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-down-arrow{
    display: none;
}

#flight-date-div{
    
    display: flex;
    align-items: center;
    gap: 12px;
}

.flight-calender-date{
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    
}

.flight-landing-input-div{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    position: relative;
}

.arrival-suggestion-modal{
    border: 1px solid red;
    position: absolute;
    top: 40px;
    left: 26px;
    background-color: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
   
}

.arrival-suggestion-para{
    cursor: pointer;
    border-bottom: 1px solid grey;
    padding: 4px;
}

.arrival-suggestion-para:hover{
    background-color: rgb(245, 245, 255);
}

@media screen and (max-width: 768px) {
    .flight-searchBar-container{
        /* border: 1px solid red; */
        grid-template-columns: 1fr;
        
       
    }

    .flight-exchange-div{
        width: 24px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flight-search-btn{
        width: 100%;
    }

    .right-left-arrow{
        display: none;
    }

    .up-down-arrow{
        display: inline-block;
    }




    
}




