.flight-booking-page {
    /* border: 3px solid black; */
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: white;
    padding-bottom: 40px;
    z-index: 999;
    
}

.detail-payment-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.flight-travellers-contact-details-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.traveller-count-date-div {
    display: flex;
    gap: 8px;
}

.where-to-where-from {}


.where-to-where-from>h1 {
    font-size: 32px;
}

.Who-flying-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.Who-flying-container>h2 {
    font-size: 24px;
}

.flight-contact-details-container {
    border: 1px solid #e7e7e7;
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;

}

.flight-contact-details-container>h3 {
    font-size: 22px;
}

.flight-contact-details-input-div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50%;
}

.flight-contact-details-input-div input{
     padding: 10px 12px;
     font-size: 14px;
     color: rgb(31, 31, 31);
     border-radius: 4px;
     border: 1px solid grey;
     
}

.flight-travellers-name-container{
    border: 1px solid #e7e7e7;
    /* border: 1px solid grey; */

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-top: 28px;
}

.first-last-name-div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 40%;

}

.first-last-name-div input{
    padding: 10px 12px;
    font-size: 14px;
    color: rgb(31, 31, 31);
    border-radius: 4px;
    border: 1px solid grey;
}

.travellers-info{
    display: flex;
    justify-content: space-between;
}

.flight-traveller-gender-div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 40%;
}

.flight-traveller-gender-div select{
    padding: 10px 12px;
    font-size: 14px;
    color: rgb(31, 31, 31);
    border-radius: 4px;
    border: 1px solid grey;
    cursor: pointer;
}

.gender-error-msg{
    margin-top: 8px;
}

.flight-next-btn{
    margin-top: 8px;
}




/* ---------below is old css---------- */
.flight-payment-form {
    box-shadow: 0px 2px 8px 0px grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
}

.flight-payment-form input {
    height: 24px;
    padding: 0px 4px;

}

.flight-payment-form input[type="submit"] {
    background-color: #006CE4;
    color: white;
    height: 44px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flight-payment-form input[type="submit"]:hover {
    background-color: #003580;
}

.traveller-detail-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.traveller-detail-box>div {
    display: flex;
    flex-direction: column;
}


.payment-cards-images-container {
    display: flex;
    gap: 8px;
}

.payment-cards-images-container>img {
    width: 30px;
    height: 18px;
}

.payment-method-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-method-box>div {
    display: flex;
    flex-direction: column;
}


#expiry-cvc-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

#expiry-cvc-box>div {
    display: flex;
    flex-direction: column;
}