.flight-booking-page{
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: white;
}

.detail-payment-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.flight-payment-form{
    box-shadow: 0px 2px 8px 0px grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
}

.flight-payment-form input{
    height: 24px;
    padding: 0px 4px;

}

.flight-payment-form input[type="submit"]{
    background-color: #006CE4;
    color: white;
    height: 44px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flight-payment-form input[type="submit"]:hover{
    background-color: #003580;
}

.traveller-detail-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.traveller-detail-box>div{
    display: flex;
    flex-direction: column;
}


.payment-cards-images-container{
    display: flex;
    gap: 8px;
}

.payment-cards-images-container>img{
   width: 30px;
   height: 18px;
}

.payment-method-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-method-box>div{
    display: flex;
    flex-direction: column;
}


#expiry-cvc-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

#expiry-cvc-box>div{
    display: flex;
    flex-direction: column;
}



